<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>云工厂管理</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-left: 10px;margin-top: 10px;">
            <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
            <el-breadcrumb-item>云工厂管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div style="height: 1px; margin: 10px 0; background-color: white"></div>
    <el-input v-model="search" style="width: 20%; margin-left: 10px" suffix-icon="el-icon-search"
              placeholder="请输入工厂名称搜索"></el-input>
    <el-button icon="el-icon-search" round="true" @click="searchTable" type="primary" style="margin: 10px 0">查询
    </el-button>
    <el-table :data="tableData" border stripe style="width: 100%">
        <el-table-column type="index" label="ID" width="100"></el-table-column>
        <el-table-column prop="factoryname" label="工厂名称"></el-table-column>
        <el-table-column prop="introduction" label="工厂简介"></el-table-column>
        <el-table-column prop="status" label="工厂状态">
            <template slot-scope="scope">
                <el-tag :type="change_status(scope.row.status)">{{scope.row.status}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column prop="userid" label="管理员ID"></el-table-column>

        <el-table-column
                fixed="right"
                label="操作"
                width="200">
            <template slot-scope="scope">
                <el-button round="true" :type="change_button(scope.row.status)" @click="changeState(scope.row)">
                    <span v-if="scope.row.status === '关停'">运行</span>
                    <span v-if="scope.row.status === '运行'">关停</span>
                </el-button>
                <el-button type="primary" icon="el-icon-edit" circle @click="edit(scope.row)"></el-button>

            </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div style="background-color: white">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageNum"
                :page-sizes="[5, 10, 20, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>

    <el-dialog title="云工厂信息" :visible.sync="dialogFormVisible" width="40%"
               :close-on-click-modal="false">
        <el-form :model="entity">
            <el-form-item label="工厂名称" label-width="120px">
                <el-input v-model="entity.factoryname" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="工厂简介" label-width="120px">
                <el-input v-model="entity.introduction" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="save">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/element.js"></script>
<script src="../../js/tinymce/tinymce.min.js"></script>


<script>
    let urlBase = "/api/factory/";
    new Vue({
        el: "#wrapper",
        data: {
            options: [],
            fileList: [],
            user: {},
            tableData: [],
            pageNum: 1,
            pageSize: 10,
            total: 0,
            dialogFormVisible: false,
            entity: {},
            isCollapse: false,
            search: '',
        },
        created() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            this.loadTable();
        },
        methods: {
            searchTable() {
                let newTable = this.tableData.filter(item => {
                    return item.factoryname.indexOf(this.search) > -1;
                });
                if (newTable.length === 0) {
                    this.$message({
                        message: '未查找到相关信息',
                        type: "error"
                    })
                } else {
                    this.tableData = newTable;
                    this.total = newTable.length;
                }
            },
            fileSuccessUpload(res) {
                this.entity.file = "http://localhost:9999/files/" + res.data;
                this.entity.img = "http://localhost:9999/files/" + res.data;
                console.log(res)
            },
            successUpload(value) {
                $.get("/api/factory/upload/" + value.data).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "导入成功",
                            type: "success"
                        });
                        this.loadTable()
                    }
                })
            },
            change_status(ele) {
                return ele === "运行" ? "success" : "danger";
            },
            change_button(ele) {
                return ele === "运行" ? "danger" : "success";
            },
            changeState(obj) {  // 审核
                this.entity = JSON.parse(JSON.stringify(obj));
                if (this.entity.status === "运行") {
                    this.entity.status = "关停";
                } else if (this.entity.status === "关停") {
                    this.entity.status = "运行";
                }
                this.save();
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/api/user/logout");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            loadTable() {
                $.get(urlBase + "/page?pageNum=" + this.pageNum + "&pageSize=" + this.pageSize + "&name=" + this.search).then(res => {
                    this.tableData = res.data.records;
                    this.total = res.data.total;
                })

                // $.get("/api/").then(res => {
                // this.options = res.data;
                // })
            },
            exp() {   // excel 导出
                window.open(urlBase + "/export");
            },
            handleSizeChange(pageSize) {
                this.pageSize = pageSize;
                this.loadTable();
            },
            handleCurrentChange(pageNum) {
                this.pageNum = pageNum;
                this.loadTable();
            },
            add() {
                this.entity = {};
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            save() {
                let type = this.entity.id ? "PUT" : "POST";
                $.ajax({
                    url: urlBase,
                    type: type,
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "操作成功",
                            type: "success"
                        });
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.loadTable();
                    this.dialogFormVisible = false;
                })
            },
            edit(obj) {
                this.entity = JSON.parse(JSON.stringify(obj));
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            del(id) {
                $.ajax({
                    url: urlBase + id,
                    type: "delete"
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        })
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                })
            }
        }
    })
</script>
</body>
</html>
